/src/downloads
/.vscode
/.vscode/
/src/main/__pycache__
/src/main/.vscode/

src/Halcon/halcon_registration.py
pcd/scence_gazebo.pcd
pcd/scence_gazebo.ply

Docker/Dockerfile（复件）
Docker/demo2.bash
Docker/test_demo.bash
