<launch>
    <!-- start the robot simulation grasp environment-->
    <include file="$(find grasp_icp)/launch/UR_robot_sim.launch"> </include> 
    
    <!-- Load grasping submodule services-->
    <node pkg="obtain_pcd" type="obtain_pcd_server.py" name="obtain_pcd_server"  output="screen" args="/catkin_ws/src/grasp_icp"> </node>
    <!-- Load the model parameters onto the parameter server -->
    <rosparam command="load" file="$(find grasp_icp)/config/model_list.yaml" />
    <node name="pose_transformation_server" pkg="pose_transformation" type="pose_transformation_server.py" output="screen" args="/catkin_ws/src/grasp_icp/config/"> </node>
    <node name="registration_server" pkg="registration" type="registration_server.py" output="screen" args="/catkin_ws/src/grasp_icp/pcd/">  </node>
    <include file="$(find move_robot)/launch/move_robot.launch"> </include> 
    
    <!-- start robot grasping main process-->
    <node pkg="grasp_icp" type="main_process.py" name="Grasping" output="screen"> </node>
</launch>
